.banner {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/banner.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.banner-content {
  position: relative;
}